body {
  font-family: 'Arial', 'Helvetica', sans-serif;
  background-color: #e9edee;
  max-width: auto;
  max-height: auto;
}

#backgroundlogo {
  background-color: #222f3f;
}

#logo {
  width: 5%;
  padding-left: 1.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

#navbackground {
  background-color: #364758;
}

.nav {
  display: inline;
  margin-right: 10px;
  padding-left: 1em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  font-size: 0.8rem;
  color: white;
}

#orange {
  background-color: #f46600;
  color: white;
  text-align: center;
  margin-top: 1.5em;
  padding: 0.4em;
  margin-right: 1.5em;
  margin-left: 1.5em;
}

#xmasimg {
  background-image: url(../bg-image.png), url(../bg-img.png);
  background-repeat: repeat, repeat;
  background-position: left top, right bottom;
  background-size: contain, cover;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-top: 1.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

#firstpar {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

#secondpar {
  margin-top: 2.5em;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

#whitebackground {
  background-color: white;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.inline {
  display: inline;
}

#colored {
  color: #1c596c;
  margin-left: 1em;
  font-weight: bold;
  font-size: 0.8em;
}

#kindle {
  width: 22%;
  margin-left: 2em;
  margin-right: 2em;
  height: 450px;
  border-radius: 5%;
}

#laptop {
  width: 22%;
  margin-right: 2em;
  height: 450px;
  border-radius: 5%;
}

#smartwatch {
  width: 22%;
  margin-right: 2em;
  height: 450px;
  border-radius: 5%;
}

#animals {
  width: 22%;
  margin-right: 2em;
  height: 450px;
  border-radius: 5%;
}

#inlineimg {
  text-align: center;
  padding-bottom: 2em;
}

section {
  border: solid white 1px;
}

.in {
  display: inline;
}

#padding {
  padding-bottom: 1em;
  margin-left: 1em;
  margin-top: 0.8em;
}

#bigimage {
  margin-left: 1.5em;
  margin-right: 1.5em;
  text-align: center;
  padding-bottom: 1.5em;
}

#bigimage > img {
  width: 100%;
}

.inlineparagraph {
  display: inline;
}

#shopgaming {
  color: #1c596c;
  font-weight: bold;
  font-size: 0.8em;
  margin-left: 1em;
}

#bigimage2 {
  margin-left: 1.5em;
  margin-right: 1.5em;
  text-align: center;
  padding-bottom: 1.5em;
}

#bigimage2 > img {
  width: 100%;
}

#audio {
  color: #1c596c;
  font-weight: bold;
  font-size: 0.8em;
  margin-left: 1em;
}

.inlineparagraph2 {
  display: inline;
}
